:root {
    --header-height: 100px;

    @include media("sm", "max") {
        --header-height: 56px;
    }
}

.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;

    &-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 28px 0;
        height: var(--header-height);
    }
}
