@font-face {font-family: "ui-icon";
  src: url('/assets/fonts/ui/ui-icon.eot?t=1643794336090'); /* IE9*/
  src: url('/assets/fonts/ui/ui-icon.eot?t=1643794336090#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("/assets/fonts/ui/ui-icon.woff2?t=1643794336090") format("woff2"),
  url("/assets/fonts/ui/ui-icon.woff?t=1643794336090") format("woff"),
  url('/assets/fonts/ui/ui-icon.ttf?t=1643794336090') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('/assets/fonts/ui/ui-icon.svg?t=1643794336090#ui-icon') format('svg'); /* iOS 4.1- */
}

[class^="ui-icon-"], [class*=" ui-icon-"] {
  font-family: 'ui-icon' !important;
  font-size: 24px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ui-icon-arrow-angle:before { content: "\ea01"; }
.ui-icon-arrow:before { content: "\ea02"; }
.ui-icon-blocks:before { content: "\ea03"; }
.ui-icon-cart:before { content: "\ea04"; }
.ui-icon-close-circle:before { content: "\ea05"; }
.ui-icon-cross:before { content: "\ea06"; }
.ui-icon-map-pinline:before { content: "\ea07"; }
.ui-icon-search:before { content: "\ea08"; }
.ui-icon-star-off:before { content: "\ea09"; }
.ui-icon-star:before { content: "\ea0a"; }

$ui-icon-arrow-angle: "\ea01";
$ui-icon-arrow: "\ea02";
$ui-icon-blocks: "\ea03";
$ui-icon-cart: "\ea04";
$ui-icon-close-circle: "\ea05";
$ui-icon-cross: "\ea06";
$ui-icon-map-pinline: "\ea07";
$ui-icon-search: "\ea08";
$ui-icon-star-off: "\ea09";
$ui-icon-star: "\ea0a";

