{% extends "layout.njk" %}

{% block content %}
    <div class="main-page">
        <i class="ui-icon-star"></i>

    </div>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ bundles['css']['app'] }}">
    <link rel="stylesheet" href="{{ bundles['css']['main'] }}">
{% endblock %}

{% block js %}
    <script src="{{ bundles['js']['app'] }}"></script>
    <script src="{{ bundles['js']['main'] }}"></script>
{% endblock %}