:root {
    --title: 400 56px/78px var(--font-main);
    --title-0: 400 40px/48px var(--font-main);
    --title-1: 400 32px/40px var(--font-main);
    --title-2: 400 28px/36px var(--font-main);
    --title-3: 400 24px/32px var(--font-main);
    --text: 400 20px/28px var(--font-main);
    --text-0: 400 18px/24px var(--font-main);
    --text-1: 400 16px/24px var(--font-main);
    --text-2: 400 14px/20px var(--font-main);
    --caption: 400 12px/16px var(--font-main);

    --title-medium: 500 56px/78px var(--font-main);
    --title-0-medium: 500 40px/48px var(--font-main);
    --title-1-medium: 500 32px/40px var(--font-main);
    --title-2-medium: 500 28px/36px var(--font-main);
    --title-3-medium: 500 24px/32px var(--font-main);
    --text-medium: 500 20px/28px var(--font-main);
    --text-0-medium: 500 18px/24px var(--font-main);
    --text-1-medium: 500 16px/24px var(--font-main);
    --text-2-medium: 500 14px/20px var(--font-main);
    --caption-medium: 500 12px/16px var(--font-main);

    --title-bold: 700 56px/78px var(--font-main);
    --title-lg-7: 700 40px/48px var(--font-main);
    --title-1-bold: 700 32px/40px var(--font-main);
    --title-2-bold: 700 28px/36px var(--font-main);
    --title-3-bold: 700 24px/32px var(--font-main);
    --text-bold: 700 20px/28px var(--font-main);
    --text-0-bold: 700 18px/24px var(--font-main);
    --text-1-bold: 700 16px/24px var(--font-main);
    --text-2-bold: 700 14px/20px var(--font-main);
    --caption-bold: 700 12px/16px var(--font-main);
}
